.vscode/*
.claude/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.gitignore
.idea/*
*.log
*.fasta
*.bin
*.sh
*.slurm
*.py
*.xlsx
build/*
logs/*
results/*

temp
test
test.txt
yeast.txt
